<!-- roster.id forces going through the model -->
<!-- this should change with routable components -->
{{#link-to 'rosters/roster' roster.id}}
  <h3 class="roster-header">I'm a little roster short and stout {{roster.name}}</h3>
{{/link-to}}
