<h3 class="roster-header" {{action 'toggleRosterDetail'}}>{{roster.name}}</h3>
<!-- <h4>Students</h4>
<ul>
  {{#each roster.students as |student|}}
    {{roster-list/student student=student}}
  {{/each}}
</ul> -->
