<h2>Rosters</h2>

<ul>
{{#each model as |roster|}}
  {{roster-list/card roster=roster}}
{{/each}}
</ul>
<!-- if you hear the createRoster action, fire your createRoster function -->
{{roster-list/roster-form createRoster='createRoster'}}
